body { 
	background: #fff;
	font-family: Helvetica, arial, serif;
	color: #fff; font-size: 10px;
	margin: 0;
	padding: 0;	
	overflow:hidden;
	cursor: none;
	webkit-font-smoothing: antialiased;
}


canvas {
	  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.cover,.cover2 {
	z-index: 4;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);

}

.cover2 {
	z-index: 910;
}

.red {
	background: rgba(255,0,0,0.4);
}

.green {
	background: rgba(0,255,0,0.4);
}

.blue {
	background: rgba(0,0,255,0.4);
}

.purple {
	background: rgba(155,0,100,0.4);
}

.black {
	background: #000;
}

.overlay {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-transition: 0.25s opacity;
  background: -webkit-radial-gradient(rgba(57, 57, 57, 0.5),
                                      rgba(57, 57, 57, 0.5) 35%,
                                      rgba(0, 0, 0, 0.7));
  bottom: 0;
  display: -webkit-box;
  left: 0;
  padding: 0px;
  padding-bottom: 0px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 910;
  background: #000;
}


.none {
	display: none;
}

/*.hidden, #midiIn {
	display: none;
}
*/
canvas { 
	border: none; 
	margin: 0;
   }

@-webkit-keyframes sepia-anim {
  from { -webkit-filter: sepia(0); }
  to   { -webkit-filter: sepia(1); }
}
@-webkit-keyframes grayscale-anim {
  from { -webkit-filter: grayscale(0); }
  to   { -webkit-filter: grayscale(1); }
}
@-webkit-keyframes blur-anim {
  from { -webkit-filter: blur(0); }
  to   { -webkit-filter: blur(10px); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotateZ(0deg); }
  to   { -webkit-transform: rotateZ(360deg); }
}
.sepia {
  -webkit-animation: sepia-anim 2s ease-in-out;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
}
.grayscale {
  -webkit-animation: grayscale-anim 2s ease-in-out;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
}
.blur {
  -webkit-animation: blur-anim 0.5s linear;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
}
.spin {
  -webkit-animation: spin 10s linear;
  -webkit-animation-iteration-count: infinite;
}



.canvas_holder {
	width: 100%;
}


#myProgress {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6px;
    z-index: 200;
    //background-color: #efefef;
}

#myBar {
    position: absolute;
    
    width: 1%;
    height: 100%;
    background-color: #ddd;
}


.button {
	background: #29A9E1;
	border-radius: 4px;
	width: 120px;
	height: 28px;
	padding: 5px 6px 8px 6px;
	color: #FFF;
	text-decoration: none;
	font-size: 14px;
	display: inline-block;
	opacity: 0.8;
	text-align: center;
	cursor: pointer;
	border: none;
}

.listen.button {
	background: #F2722A;
	display: none;
	color: #fff;
}

.button:hover {
	background: #29A9E1;
	color: #fff;
}

.button.stop:hover {
	background: #F2722A;
	color: #fff;
}
	.button.pause:hover {
		background: #29A9E1;
		color: #fff;
	}

	.mute { 
		position: fixed !important;
		bottom: 3%;
		right: 2%;
		float: right;
		color: #fff;
		;}

.mike_on_permission {
/*display: none; */
background: #29A9E1;
/* border-radius: 4px; */
width: 100%;
height: 100%;
min-height: 600px;
color: #FFF;
text-decoration: none;
font-size: 16px;
font-weight: 100;
/* display: inline-block; */
opacity: 0.95;
z-index: 1;
position: fixed;
z-index: 111;
text-align: center;
}

a {color: #F000D4 !important;}

.content-width {
padding: 4%;
}

.clear{clear:both;}

#floater	{float:left; height:240px; margin-bottom:-120px;}

#permission_content	{clear:both; height:240px; position:relative;}

	.intro {
		display: none;
		background: #F2722A;
		margin: 60% auto 0 auto;
		padding: 8px 10px 15px 10px;
		border-radius: 4px;
		width: 340px;
		height: 11px;
		color: #FFF;
		text-decoration: none;
		font-size: 16px;
		display: block;
		opacity: 0.8;
		z-index: 1;
		text-align: center;
	}
/*
@media only screen 
and (max-width : 400px) {
canvas {
  width: 300px;
}
.canvas_holder {
width: 300px;
}
}


@media only screen 
and (min-width : 401px) and (max-width : 620px) {
canvas {
  width: 400px !important;
}
.canvas_holder {
width: 380px !important;
}
.content-width {
padding: 1%;
}
}


@media only screen 
and (max-width : 621px) and (max-width : 884px) {
canvas {
  width: 580px;
}
.canvas_holder {
width: 580px;
}
.content-width {
padding: 2%;
}
}

@media only screen 
and (min-width : 621px) and (max-width : 885px) {
canvas {
  width: 600px;
}
.canvas_holder {
width: 600px;
}
.content-width {
padding: 3%;
}
}

	@media only screen 
and (min-width : 885px) {
canvas {
  width: 800px;
  margin: 0 auto 0 auto;
}
.canvas_holder {
width: 800px;
}
}
*/


